@font-face {
  font-family: OpenSansRegular;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSansBold;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

html {
width: 1920px;
}

body {
  font-family: Open Sans, Arial, sans-serif;
  margin: 0;
  width: 100%;
  font-size: 20px;
}

/*

+header
+header:after
header-container
surface-logo-text
.title
download-buttons
download-button
*/



header {
 position: relative;
  background-image: url(../images/football_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

header:after {
  content: '';
  background-color: #0a0e34 /*как посмотреть*/;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9 /*как посмотреть*/;

}

.header-container{

 position: relative;
  z-index: 2;
 
}

.surface-logo-text {
  width: 205px;
  height: 55px;
  margin: auto;

}

.title {
  width: 78%;
  font-size: 65px;
  line-height: 75px;
  font-family: OpenSansBold, Arial, sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
        font-size: 90px;
}

.download-buttons {

display: flex;
justify-content: space-between;

}

.download-button {
display: flex;
justify-content: space-between;
}










/*
+section
+conteiner
+img-z-index

conteiner-text
mini-conteiner
conteiner-number
number
img-z-index-one
img-z-index-two

+conteiner-big-title
+conteiner-title
+conteiner-text-black
+conteiner-text-white
+white; blue; violet; grey; dark-blue;
*/



section {
   width: 100%; 
}

.conteiner {
  position: relative;

}

.img-z-index{
  position: absolute;
  overflow: hidden;
}
/* ?????????
.conteiner-text {
text-align: left;
}
*/

.conteiner-big-title {
color: #e7e7e7;
font-size: 60px;
}

.conteiner-title {
color: #c1c1c1;
width: 25px;
}

.conteiner-text-black {
color: #000000;
width: 40%;
}
.conteiner-text-white {
color: #c2c3cd;
width: 40%;
}

.white {
	background-color: #ffffff;
}

.blue {
	background-color: #f6f4fa;
}

.violet {
	background-color: #5e42b0;
}

.grey {
	background-color: #f5f6f7;
}

.dark-blue {
	background-color: #0a0e34;
}



/*
+conteiner-three
block-three
block-three-img
position-number
number-block
conteiner-three-big-title 
row-reverse"
conteiner-three-text
position-text
*/

.conteiner-three {
  width: 100%;
}
.block-three {
  position: relative;
  display: flex;
}
.block-three-img {
  width: 50%;
}
.position-number{
  width: 50%;
  display: block;
}
/*???????
.row-reverse {
  flex-direction: row-reverse;
}
*/

.number-block {
font-family: OpenSansBold, Arial, sans-serif;
display: block;
position: absolute;
z-index: 4;
background-color: #5e42b0;
color: #f5f6f7;
font-size: 24px;
width: 170px;
height: 150px;
}

.position-text {
   text-align: center;
}

.conteiner-three-big-title {
font-family: OpenSansBold, Arial, sans-serif;
text-transform: uppercase;
color: #c1c1c1;
font-size: 80px;
}

.conteiner-three-text {
  font-family: OpenSans, Arial, sans-serif;
  color: #000;
  font-size: 24px;
}












footer {
	font-family: Open Sans, Arial, sans-serif;
background-color: #1d2043;
background-size: cover;
position: relative;
background-image: url(../images/game_1920.jpg);
}
}
.conteiner-footer-logo {
display: flex;
justify-content: space-between;	
}

.download-buttons {
display: flex;
justify-content: space-between;	
}